<header class="header" role="banner">

  <div class="nav-wrapper">
    <div class="nav-desktop">

      <div class="masthead">
        <h1><a href="{{ site.url }}/index.html">ALCF Annual Report</a></h1>
      </div>


      <div class="nav">
        {% for item in site.data.nav-config.toc %}
          <h2>
            {% if page.permalink contains item.url %}
              <a class="current" href="{{ site.url }}/{{ item.url }}">{{ item.title }}</a>
            {% else %}
              <a href="{{ site.url }}/{{ item.url }}">{{ item.title }}</a>
            {% endif %}
            <!-- <a href="{{ site.url }}/{{ item.url }}">{{ item.title }}</a> -->
          </h2>
        {% endfor %}
        <div class='search-trig' id='js-search-trig'>
          <svg class='mag' aria-hidden="true" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
            />
          </svg>
        </div>

        <form class='searchbar' id='js-searchbar' action="{{ site.url }}/search.html" method="get">
          <svg class='mag' aria-hidden="true" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
            />
          </svg>
          <input 
            aria-label="Search the annual report"
            autocomplete="off"
            inputmode="search"
            placeholder="Search"
            type="search"
            id="search-box" 
            name="query"
          >
          <div class='x-box' id='js-searchbar-close'>
            <svg class='x' fill="currentColor" viewBox="0 0 512 512">
              <g>
                <polygon points="512,59.076 452.922,0 256,196.922 59.076,0 0,59.076 196.922,256 0,452.922 59.076,512 256,315.076 452.922,512 512,452.922 315.076,256"/>
              </g>
            </svg>
          </div>
        </form>

      </div>

    </div>
  </div>


  <div class="nav-wrapper">
    <div class="nav-mobile">

      <div class="masthead">
        <h1><a href="{{ site.url }}/index.html">ALCF Annual Report</a></h1>
      </div>


      <div class="nav">
        <div class="js-drop menuitem-wrapper" id="toggle-menu" data-menu="menu">
          <h1>Menu <!--&nbsp;&blacktriangledown;--></h1> 
          <div id="menu" class="dropdown js-dropdown-hidden">

            <div class="nav-wrapper">
              {% for item in site.data.nav-config.toc %} 

                <div class="chunk">
                  <h2>
                    <a href="/{{ item.url }}" class="menuitem">
                      {{ item.title }}
                    </a>
                  </h2>

                  {% if item.subfolderitems %}
                    <ul>
                      {% for entry in item.subfolderitems %}
                        <li>
                          <a href="/{{ entry.url }}">
                            {{ entry.page }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %} 
                </div>
              {% endfor %}  
            </div>   
          </div>
        </div>
        <div class='search-trig' id='js-search-trig-mobile'>
          <svg class='mag' aria-hidden="true" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
            />
          </svg>
        </div>
        <form class='searchbar' id='js-searchbar-mobile' action="{{ site.url }}/search.html" method="get">
          <svg class='mag' aria-hidden="true" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
            />
          </svg>
          <input 
            aria-label="Search the annual report"
            autocomplete="off"
            inputmode="search"
            placeholder="Search"
            type="search"
            id="search-box" 
            name="query"
          >
          <div class='x-box' id='js-searchbar-close-mobile'>
            <svg class='x' fill="currentColor" viewBox="0 0 512 512">
              <g>
                <polygon points="512,59.076 452.922,0 256,196.922 59.076,0 0,59.076 196.922,256 0,452.922 59.076,512 256,315.076 452.922,512 512,452.922 315.076,256"/>
              </g>
            </svg>
          </div>
        </form>
      </div>

    </div>
  </div>

</header>




