/**
  * Component: Media, Image 2x
  *  
  * @description
  * -
  */

.media-img2x {
	@include stack(sm);
	@include grid-child($cols: 12);
	@include respond-to(m){
		@include grid-child($cols: 8);
		grid-column-start: 4;
	}

	.img-1, .img-2 {
		grid-column: span 6;
		@include respond-to(m){
			grid-column: span 4;
		}
	}

	.img-wrapper {
		@include aspect-ratio(16, 9);
		@include stack(xs);
		// border: 1px solid color(neutral, XXX);
		border: .5px solid color(green, XXXXX);
	}

	img {
		object-fit: cover;
	}

	.caption {
		color: color(neutral, XXXX);
	}

	.credit {
		font-style: italic;
	}
	
}


.highlight .media-img {

	.img-wrapper {
		padding: bl(5); //20px
		background-color: color(neutral, XX);
	}

	img {
		max-height: calc(100% - 40px);
		max-width: calc(100% - 40px);
		position: relative;
		top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	}
	
}
