/**
  * Component: Media, Embed
  *  
  * @description
  * -
  */

.home--video-wrapper {
	@include stack(xl);
	@include grid-parent($config: $grid-full);


	h2 {
		// @include stack(xxs);
		padding-bottom: bl(2) !important;
		color: color(blue, XXXXX);
		grid-column: span 12;
		@include typestyle($sans-md-bld);
		@include respond-to(s){
			@include typestyle($sans-lg-bld);
		}

		&::before {
			content: "";
    	width: 24px;
    	height: 8px;
    	margin-bottom: .5rem;
    	display: block;
    	background-color: color(blue, XXXX);
    	@include respond-to(s){
    		width: 36px;
				margin-bottom: 1rem;
			}
		}
	}


	.embed-1, .embed-2, .embed-3 {
		grid-column: span 12;
		@include respond-to(s){
			grid-column: span 4;
		}
	}

	iframe {
		width: 100%;
		aspect-ratio: 16 / 9;
		@include stack(xxs);
		border: 1px solid color(green, XXXX);
	}

	.caption {
		color: color(neutral, XXXX);
		padding-bottom: bl(2);
		border-bottom: 1px solid color(neutral, XX);
		display: block;
		@include stack(xxs);
	}

	.caption:before {
		content: '\25B2  ';
	}

	.credit {
		font-style: italic;
	}
		
}
