/**
  * Component: Header
  *  
  * @description
  * -
  */

header {
	background: color(green, XXXX);
  color: color(warm, X);
	padding-top: 16px; 
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 5000;
	box-sizing: border-box;
	height: 54px;
	@include respond-to(m){
		height: 64px;
	}

	.nav-desktop {
		display: none;
		@include respond-to(m){
			@include grid-child($cols: 12);
		}
	}

	.nav-mobile {
		@include grid-child($cols: 12);
		@include respond-to(m){
			display: none;
		}
	}

	.nav-wrapper {
		@include grid-parent($config: $grid-full);
	}

	.masthead {
		grid-column: 1 / 10;
		@include respond-to(m){
			grid-column: 1 / 4;
		}

		h1 {
			padding-top: 6px !important;
			margin-top: 0 !important;
		}
	}

	.nav {
		grid-column: 10 / -1;
		justify-self: end;
		padding-right: 64px;
		@include respond-to(m){
			grid-column: 4 / -1;
		}
	}

	h1 {
		@include typestyle($sans-sm-bld);
		color: color(green, X) !important;
		@include respond-to(m){
			@include typestyle($sans-sm-bld);
			margin-top: bl(1);
		}
	}


	h2 {
		@include typestyle($sans-sm-reg);
		display: inline-block;
		margin-left: bl(2); //8px;
		margin-right: bl(2); //8px;
		margin-top: bl(1); //4px;
		color: color(blue, X);
	}

	a {
		text-decoration: none;
		color: color(blue, X);
		&:hover {
			text-decoration: underline;
			text-decoration-color: color(neutral, X);
		}
	}

	a.current {
	text-decoration: underline;
	text-decoration-color: color(neutral, X);
	}

	.search-trig {
		margin-left: bl(6); //24px;
		height: 36px;
		width: 36px;
		margin-top: -18px;
		position: absolute;
		right: 24px;
		top: 50%;
		background-color: color(green, XXXX);
		border-radius: 4px;
		display: inline-block;
		transition: .2s all;
		&:hover {
			cursor: pointer;
			background-color: color(green, XXXXX);
		}
	}

	svg.mag {
		position: relative;
  	top: 50%; 
  	height: 26px;
  	width: 26px;
  	left: 50%;
  	margin: -13px 0 0 -13px;
  	color: color(blue, X);
  	@include respond-to(m){
			height: 32px;
			width: 32px;
			margin: -16px 0 0 -16px;
		}
	}




	.menuitem-wrapper {
		height: bl(12); //48px
		display: inline-block;
	}



	.dropdown {
		@include inset(xs);
		background-color: color(neutral, XXXXX); 
		transition: all 0.2s ease-out;
		position: fixed;
		top: 54px;
		left: 0;
		width: 100vw;
		height: calc(100vh - 64px);
		padding: bl(2) 0; //8px
		box-sizing: border-box;
		overflow-y: scroll;
	}

	.chunk {
		grid-column: span 12;
		@include stack(md);
		@include respond-to(s){
			grid-column: span 6;
		}
	}

	.dropdown ul,
	.dropdown li {
		margin-left: 0;
		padding-left: 0;
	}

	.dropdown ul {
		list-style: none;
		margin-bottom: bl(1) !important; //4px
	}

	.dropdown a {
		color: color(blue, XX);
		text-decoration: none;
		display: inline-block;
		&:hover {
			text-decoration: underline;
			text-decoration-color: color(blue, XX);
		}
	}

	

	.dropdown hr {
		background-color: #DDE6E7;
		border: none;
		height: 1px;
	}

	.dropdown h2 {
		text-transform: none;
		@include typestyle($sans-sm-bld);
		border-bottom: 2px solid color(blue, XX);
		margin-bottom: 0;
		margin-left: 0;
		width: 100%;
	}


	.js-dropdown-hidden {
		display: none;
	}

	.js-dropdown-visible {
		display: block;
	}

}

