<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}

  <body class='home'>

    {%- include header.html -%}



  <!-- <div class='parralax-wrapper'> -->

    <div class="home--hero-text">
      <h1 class="alcf">
        Argonne<br>
        <span>Leadership<br>
        Computing</span><br>
        Facility
      </h1>
      <h1 class="title">
        2024<br>
        <span>Annual<br>
        Report</span><br>
      </h1>
    </div>

    <div class='parralax-top'>
      <div class="home--hero-wrapper">
        <div class="img-wrapper">
          <div>
            <img class='pan-left' src="{{ site.url }}/assets/images/hero.jpg">
            <img class='pan-right' src="{{ site.url }}/assets/images/hero.jpg">

           <!-- poster="{{ site.url }}/assets/images/hero.jpg" 
             <video autoplay loop muted>
              <source src="{{ site.url }}/assets/video/hypersonic.webm" type="video/webm">  
              <source src="{{ site.url }}/assets/video/hypersonic.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video> -->
            <!-- <div class="home--hero-text">
              <h1 class="alcf">
                Argonne<br>
                <span>Leadership<br>
                Computing</span><br>
                Facility
              </h1>
              <h1 class="title">
                2024<br>
                <span>Annual<br>
                Report</span><br>
              </h1>
            </div> -->
            <div class="home--hero-scrim"></div>
          </div><!-- End img-wrapper's inner div  -->
        </div><!-- End img-wrapper  -->
      </div><!-- End home--hero-wrapper  -->
    </div><!-- End parralax-top  -->

    <div class="parralax-bottom">

      {{ content }}
    
      {% if page.aside %}
        <div class="aside">
          <div class="content-wrapper">
            {% assign aside-file = page.aside | prepend: "/asides/"  %}
            {%  capture aside-content %}{% include {{ aside-file }} %}{% endcapture %}
            {{ aside-content | markdownify }}
          </div>
        </div>
      {% endif %}

      <div class="home--toc-wrapper">
        <div class="content-wrapper">
          <h2>Table of Contents</h2>

          {% for item in site.data.nav-config.toc %} 
            <div class="toc-section toc-{{item.slug}}">
              <h3>
                <a href="{{ item.url }}" class="menuitem">
                  {{ item.title }}
                </a>
              </h3>
              {% if item.subfolderitems %}
                {% if item.slug == "science" %}
                  <ul class="toc-science">
                    {% for entry in item.subfolderitems %}
                      {% if entry.page == "2024 Science Highlights" %}
                        <li class="hl">
                          <a href="{{ entry.url }}">
                            {{ entry.page }}
                          </a>
                        </li>
                        <ul class="toc-highlights">
                          {% for highlight in site.highlights %}
                            <li class="toc-highlight">
                              <a href="{{ highlight.url }}">
                                <span class="title">{{ highlight.title }}</span>
                                <span class="pi">{{ highlight.pi }}</span>
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                      {% else %} 
                        <li class="not-hl">
                          <a href="{{ entry.url }}">
                            {{ entry.page }}
                          </a>
                        </li>
                      {% endif %} 
                    {% endfor %}
                  </ul>
                {% else %}
                  <ul>
                    {% for entry in item.subfolderitems %}
                      <li>
                        <a href="{{ entry.url }}">
                          {{ entry.page }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %} 
              {% endif %} 
            </div>  
          {% endfor %}

        </div><!-- End content-wrapper -->
      </div><!-- End home--toc-wrapper  -->

      {%- include footer.html -%}

    </div><!-- End parralax bottom-->
  <!-- </div> End parralax wrapper --> -->

</body>
</html>



