<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}

{% if page.theme %}
  <body class="theme--{{ page.theme }}">
{% else %}
  <body>
{% endif %}


{%- include header.html -%}
{%- include sidenav.html -%}


<div class="page-intro-text">
	<h1 class="page-title">{{ page.title }}</h1>
	{% if page.intro %}
  	{% include txt-intro.html
			 blurb= page.intro
		%}
	{% endif %}
</div>


{% if page.hero-img-source or page.hero-vid-embed-code %}
	<div class="page-intro-media">
		{% if page.hero-img-source %}
			{% include media-hero-img.html
			   source= page.hero-img-source
			   caption= page.hero-img-caption
			   credit= page.hero-img-credit
			%}
		{% elsif page.hero-vid-embed-code %}
			{% include media-hero-video.html
				 embed-code= page.hero-vid-embed-code
	  		 caption= page.hero-vid-caption
	  		 credit= page.hero-vid-credit
	  	%}
		{% endif %}
	</div>
{% endif %}


<main class="page-content layout-wrapper section-head" aria-label="Content">
	{{ content }}
</main>


{% if page.bg-img %}
	<div class="bg-img">
		<div class="bg-img--scrim"></div>
		<img src="{{ site.url }}/assets/images/{{ page.bg-img }}">
	</div>
{% endif %}

{% if page.bg-mp4-source or page.bg-webm-source %}
	<div class="bg-img">
		<div class="bg-img--scrim"></div>
		<video autoplay loop muted>
      {% if page.bg-webm-source %}
        <source src="{{ site.url }}/assets/video/{{ page.bg-webm-source }}" type="video/webm">  
      {% endif %}
      {% if page.bg-mp4-source %}
        <source src="{{ site.url }}/assets/video/{{ page.bg-mp4-source }}" type="video/mp4">
      {% endif %}
        Your browser does not support the video tag.
    </video>
	</div>
{% endif %}


{%- include footer.html -%}


</body>
</html>


